/*
Developer: Savannah Skinner
Table of Contents
RESETS & MISC - Resets and anything that doesn't fit elsewhere
SITE WIDE - Styles that apply to all sections
NAVIGATION - logo, main nav
MAINCONTENT - Article
PLACEHOLDER - Placeholder
MEDIA QUERIES
Color Palette
#40b59b - Aqua
#ff747b - Orange/Pinkish Red
#f49882 - Mango
#fad8d4 - Pink
#fad8d4 - Pineapple Gold
*/


#slideshow{
  height: 200px;
  margin: 0 auto;
  overflow:hidden;
  width: 320px;
}
  .slideWrapper{
  animation: slide 25s ease-out infinite;
  height: 1250px;
  -webkit-animation: slide 25s ease-out infinite;
  width: 100vw;
  }

  @keyframes slide{
    0%   {margin-top: 0;}
    10%   {margin-top: 0;}
    30%  {margin-top: -200px;}
    40%  {margin-top: -200px;}
    80%  {margin-top: -400px;}
    90%  {margin-top: -400px;}
    90%  {margin-top: -400px;}
    100%  {margin-top: 0px;}
  }

.slide{
  height: 200px;
  margin: 0;
  width: 320px;
}

  .slideDance{background: url(../imgs/main/twice_dance_S.jpg) no-repeat;}

  .slideLove{background: url(../imgs/main/twice_love_S.jpg) no-repeat;}

  .slideCircle{background: url(../imgs/main/twice_circle_S.jpg) no-repeat;}

  .slideImg{
    height: 200px;
    width: 320px;
  }

.navbar-nav a{min-width: 300px; text-align: center;}

