/*
Developer: Savannah Skinner
Table of Contents
RESETS & MISC - Resets and anything that doesn't fit elsewhere
SITE WIDE - Styles that apply to all sections
NAVIGATION - logo, main nav
MAINCONTENT - Article
PLACEHOLDER - Placeholder
MEDIA QUERIES
Color Palette
#40b59b - Aqua
#ff747b - Orange/Pinkish Red
#f49882 - Mango
#fad8d4 - Pink
#f9a733 - Pineapple Gold
*/


#slideshow {
  width: 500px;
  height: 312px;
  margin: 0 auto;
  overflow:hidden;
  box-shadow: 1rem 1rem 1rem #763134;
}
  .slideWrapper {
  width: 4000px;
  height: 1250px;
  -webkit-animation: slide 25s ease-out infinite;
  animation: slide 25s ease-out infinite;
  margin-top: 0;
  }

  @-webkit-keyframes slide {
    0%   {margin-top: 0;}
    10%   {margin-top: 0;}
    30%  {margin-top: -312px;}
    40%  {margin-top: -312px;}
    80%  {margin-top: -624px;}
    90%  {margin-top: -624px;}
    90%  {margin-top: -624px;}
    100%  {margin-top: 0px;}

  }

  .slideImg {
    color: rgba(0,0,0,0);
    margin: 0;
  }

  .slideDance {
        background: url(../imgs/main/twice_dance_M.png) no-repeat;
  }

  .slideLove {
        background: url(../imgs/main/twice_love_M.png) no-repeat;
  }

  .slideCircle {
        background: url(../imgs/main/twice_circle_M.png) no-repeat;
  }

  .slideImg {
    background-color: #fff;
    width: 500px;
    height: 312px;
  }

  .memberCard:before {
      border-top: 35rem solid #40d8cc;
      border-right: 20rem solid transparent;
    }
    .body {margin-top: 0rem;}
    .navHeader {
      background: linear-gradient(to bottom, rgba(255,255,255,.8) 0%,rgba(255,255,255,0.8) 73%,rgba(250,216,212,0.2) 100%);
      position: static;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
    }

    .btnForm {
    margin:0 42.5%;
    width: 15%;
    }
