html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

a:focus {
    background: #fff;
    color: inherit
}

.hide {
    height: 1px;
    left: -999px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
    z-index: -999
}

.hide:focus {
    background: rgba(0, 0, 0, .5);
    color: #fff;
    height: 1.5rem;
    left: 0;
    width: 9rem;
    z-index: 50
}

.floatRight {
    float: right
}

.floatLeft {
    float: left
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none
}
body {
    background-color: #fad8d4;
    background: linear-gradient(135deg, #ff8888 25%, transparent 25%) -50px 0, linear-gradient(225deg, #ff8888 25%, transparent 25%) -50px 0, linear-gradient(315deg, #ff8888 25%, transparent 25%), linear-gradient(45deg, #ff8888 25%, transparent 25%);
    background-size: 100px 100px;
    margin: 0 auto;
    min-width: 320px;
    position: relative;
    width: 100%
}
.body {
    padding-top: 2.5rem;
	background: url("../bg.jpg");
}

.body:not(.noBodyGradient) {
    background: linear-gradient(to bottom, rgba(250, 216, 212, 0) 1%, rgba(250, 216, 212, 1) 17%, rgba(250, 216, 212, .9) 51%, rgba(249, 236, 234, .7) 98%, rgba(249, 236, 234, .1) 100%)
}

.wrapper {
   /* background: rgba(250, 216, 212, .8);*/
}
p,
a,
label,
input,
select,
textarea {
    font: 100% Muli, sans-serif
}

p,
a,
.light {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(44, 37, 31, .5)
}

.dark {
    color: #3d447d;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .5)
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-item a {
    font: 175% 'Fugaz One', cursive
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center
}

h1 {
    color: #ffcf59;
    font-size: 325%;
    margin: 0;
    text-shadow: 4px 4px 1px rgba(255, 116, 123, 1), 8px 8px 1px rgb(57, 195, 126, .8);
}

h2,
footer h3 {
    color: #a16612;
    margin-bottom: 1rem
}

h2 {
    color: #f9a733;
    font-size: 300%;
    text-shadow: 3px 3px 1px #804447
}

a {
    color: #e63b43
}

a:link {
    color: #e63b43
}

a:visited {
    color: #a16612
}

a:hover {
    color: #f49882;
}
.navHeader img {
    max-width: 10rem;
}
  .nav-item{
    font-size: 1em;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
    width: 100%;
    background:#F0EDDB;
    border-radius: 10px;
    letter-spacing: 5px;
	 color:black;
  }
.flex-sm-row{
	display:inline;
}
  .navbar-nav li{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 220px;
    height: 40px;
    margin-top: 4%;
   transition-duration: 0.2s;
   margin-bottom:-2px;
  }
   .nav-item:nth-child(odd){
    transform: perspective(300px) rotateY(45deg);
    box-shadow: -2px 2px 7px gray;
  }
  .nav-item:nth-child(even){
    transform: perspective(300px) rotateY(-45deg);
      box-shadow: 2px 2px 7px gray;
  }
  .nav-item:hover{
    transform: rotateY(0);
    background: #F3E3B3;
    box-shadow: 0px 0px 0px;
  }
.carousel-inner {
		width:100%;
		height:600px;
		background: transparent url(../imgs/new1.jpg) top left no-repeat;
		background-size: 100% 100%;
		margin:auto;
		position:relative;
	}
	.carousel-item {
		width:600px;
		height:400px;
	}
	.carousel-item img {
		/*top:100px;
		z-index:100;*/
		animation:drift 10s linear infinite;/*short hand*/
  }		
	@keyframes drift{
		from{transform:translateX(60px);}
		to{transform:translateY(-450px);}
	}

.more {
    background: rgba(255, 255, 255, .9);
    color: #ff826e;
    display: block;
    font-size: 125%;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1rem;
    text-align: center
}

.joinUs a.more {
    min-width: 15rem
}

.btn {
    background: linear-gradient(135deg, rgba(249, 167, 51, 1) 10%, rgba(249, 167, 51, 1) 16%, rgba(255, 208, 107, 1) 16%, rgba(255, 208, 107, 1) 23%, rgba(255, 229, 174, 1) 23%, rgba(255, 229, 174, 1) 23%, rgba(255, 229, 174, 1) 26%, rgba(255, 208, 107, 1) 26%, rgba(255, 208, 107, 1) 26%, rgba(255, 208, 107, 1) 35%, rgba(249, 167, 51, 1) 35%, rgba(249, 167, 51, 1) 41%, rgba(255, 208, 107, 1) 41%, rgba(255, 208, 107, 1) 41%, rgba(255, 208, 107, 1) 44%, rgba(255, 208, 107, 1) 46%, rgba(255, 208, 107, 1) 46%, rgba(255, 229, 174, 1) 46%, rgba(255, 229, 174, 1) 47%, rgba(255, 229, 174, 1) 47%, rgba(255, 208, 107, 1) 47%, rgba(255, 208, 107, 1) 47%, rgba(255, 208, 107, 1) 52%, rgba(255, 208, 107, 1) 52%, rgba(249, 167, 51, 1) 52%, rgba(249, 167, 51, 1) 60%, rgba(255, 208, 107, 1) 60%, rgba(255, 208, 107, 1) 63%, rgba(249, 167, 51, 1) 63%, rgba(249, 167, 51, 1) 80%, rgba(249, 167, 51, 1) 96%);
    border: 1px rgba(249, 167, 51, 1) solid;
    border-radius: 60px;
    color: #753704;
    padding: .4rem 1rem
}

a.btn:link {
    color: #753704
}

a.btn:visited {
    color: #753704
}

a.btn:hover {
    background: linear-gradient(135deg, rgba(251, 200, 129, 1) 10%, rgba(251, 200, 129, 1) 16%, rgba(255, 226, 163, 1) 16%, rgba(255, 226, 163, 1) 23%, rgba(255, 239, 205, 1) 23%, rgba(255, 239, 205, 1) 23%, rgba(255, 239, 205, 1) 26%, rgba(255, 226, 163, 1) 26%, rgba(255, 226, 163, 1) 26%, rgba(255, 226, 163, 1) 35%, rgba(251, 200, 129, 1) 35%, rgba(251, 200, 129, 1) 41%, rgba(255, 226, 163, 1) 41%, rgba(255, 226, 163, 1) 41%, rgba(255, 226, 163, 1) 44%, rgba(255, 226, 163, 1) 46%, rgba(255, 226, 163, 1) 46%, rgba(255, 239, 205, 1) 46%, rgba(255, 239, 205, 1) 47%, rgba(255, 239, 205, 1) 47%, rgba(255, 226, 163, 1) 47%, rgba(255, 226, 163, 1) 47%, rgba(255, 226, 163, 1) 52%, rgba(255, 226, 163, 1) 52%, rgba(251, 200, 129, 1) 52%, rgba(251, 200, 129, 1) 60%, rgba(255, 226, 163, 1) 60%, rgba(255, 226, 163, 1) 63%, rgba(251, 200, 129, 1) 63%, rgba(251, 200, 129, 1) 80%, rgba(251, 200, 129, 1) 96%);
    border-color: rgba(249, 167, 51, .5);
    color: #714f1f
}

a.btn:active {
    color: inherit
}

a.btn:focus {
    background: linear-gradient(135deg, rgba(251, 200, 129, 1) 10%, rgba(251, 200, 129, 1) 16%, rgba(255, 226, 163, 1) 16%, rgba(255, 226, 163, 1) 23%, rgba(255, 239, 205, 1) 23%, rgba(255, 239, 205, 1) 23%, rgba(255, 239, 205, 1) 26%, rgba(255, 226, 163, 1) 26%, rgba(255, 226, 163, 1) 26%, rgba(255, 226, 163, 1) 35%, rgba(251, 200, 129, 1) 35%, rgba(251, 200, 129, 1) 41%, rgba(255, 226, 163, 1) 41%, rgba(255, 226, 163, 1) 41%, rgba(255, 226, 163, 1) 44%, rgba(255, 226, 163, 1) 46%, rgba(255, 226, 163, 1) 46%, rgba(255, 239, 205, 1) 46%, rgba(255, 239, 205, 1) 47%, rgba(255, 239, 205, 1) 47%, rgba(255, 226, 163, 1) 47%, rgba(255, 226, 163, 1) 47%, rgba(255, 226, 163, 1) 52%, rgba(255, 226, 163, 1) 52%, rgba(251, 200, 129, 1) 52%, rgba(251, 200, 129, 1) 60%, rgba(255, 226, 163, 1) 60%, rgba(255, 226, 163, 1) 63%, rgba(251, 200, 129, 1) 63%, rgba(251, 200, 129, 1) 80%, rgba(251, 200, 129, 1) 96%);
    border-radius: 60px;
    color: inherit;
    outline: 2px solid black
}

img{
    display: block;
    width: 100%
}
.navbar-brand img{
	 -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
	    box-shadow: inset 0 0 0 25px gold;
}
.navbar-brand img:hover{
	 -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
.tinyImg {
    border-radius: 50%;
    height: 6rem;
    width: 6rem
}

.tinyImgs {
    min-width: 320px
}

.tinyImgGrid {
    display: grid;
    grid-gap: .1rem;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
    justify-content: center
}

#tinyImgsIE {
    display: none
}

.btnMemberGrid {
    grid-column: 1/4
}

.joinUs {
    margin: 5% auto 15%;
    max-height: 20rem
}

.joinUs h3 {
    margin-bottom: 1rem;
    text-align: inherit
}

.joinUs p {
    color: #a16612;
    display: inline-block
}

.joinUs a {
    margin-top: 1rem;
    max-height: 3rem;
    max-width: 14rem
}

.tinyImgs a {
    background: none;
    position: relative
}

.tinyImgs p {
    bottom: .5rem;
    color: #ffe5ae;
    height: 1.2rem;
    left: .5rem;
    position: absolute;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .6);
    width: 6rem;
    z-index: 20
}

.tinyImgs a:not(.seeAll):before {
    border: 3rem solid rgba(255, 255, 255, .2);
    border-radius: 50%;
    content: " ";
    height: 1rem;
    position: absolute;
    width: 1rem
}

.memberCards,
.albumCards {
    padding-bottom: 3rem
}

.members,
.footer {
    background: linear-gradient(to bottom, rgba(255, 179, 170, 1), rgba(255, 179, 170, .2))
}

.members,
.albums,
.albumCards,
.memberCards {
    border-bottom: 1rem solid rgba(255, 255, 255, .9);
    padding-bottom: 1rem
}

#form footer,
.terms 

{
    border-top: 1rem solid rgba(255, 255, 255, .7);
    padding-top: 1rem
}

.form {
    padding-bottom: 2rem
}

.albums {
    background: rgba(250, 216, 212, .9);
    padding-bottom: 3rem
}

.members h2,
.albums h2 {
    padding: 1.5rem 0
}

.allAlbums {
    margin: 5rem auto 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 12rem
}

a.seeAll {
    background: linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 248, 227, 1) 50%, rgba(255, 240, 195, 1) 51%, rgba(255, 251, 237, 1) 100%);
    border-color: #fff9e6;
    border-width: 2px;
    color: #ffa320;
    display: block;
    max-width: 11em;
    min-width: 9rem
}

.seeAll:hover {
    background: linear-gradient(45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    border-color: #FFF0AF;
    color: #a16612
}

.seeAll:active,
.seeAll:focus {
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 231, 227, 1) 50%, rgba(255, 203, 195, 1) 51%, rgba(255, 241, 237, 1) 100%);
    border-color: #a16612;
    color: #ffa320
}

.memberCard h3,
.albumCard h3 {
    color: #fff5a4;
    text-shadow: 2px 2px 1px rgba(90, 60, 26, .52)
}

.memberCard {
    background: linear-gradient(135deg, rgba(64, 216, 204, 1) 0%, rgba(64, 216, 204, 1) 49%, rgba(173, 67, 67, 1) 49%, rgba(226, 75, 70, 1) 53%, rgba(244, 152, 130, 1) 96%, rgba(244, 152, 130, 1) 99%);
    box-shadow: 1rem 1rem 1rem #763134;
    min-width: 18rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    z-index: 1
}

.memberCard:nth-of-type(even) {
    background: linear-gradient(135deg, rgba(64, 216, 204, 1) 0%, rgba(64, 216, 204, 1) 49%, rgba(102, 38, 67, 1) 49%, rgba(132, 53, 66, 1) 53%, rgba(255, 116, 123, 1) 99%)
}

.memberCard img {
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    margin: 0 auto;
    max-width: 250px
}

.memberCard img,
.memberCard h3,
.memberCard p {
    position: relative;
    z-index: 5
}

.funFactTitle {
    color: #fbedcd;
    text-shadow: 1px 1px 1px rgb(156, 76, 38)
}

.albumCards h2 {
    padding-top: 1rem
}

.albumCard {
    box-shadow: 1rem 1rem 1rem #844b59;
    overflow: hidden;
    padding: 0 0 1rem;
    position: relative;
    max-width: 20rem;
    min-width: 18rem;
    width: 100%
}

.albumCard p {
    text-align: center
}

.albumPageTwo {
    background: linear-gradient(55deg, #40d8cc 10%, #e6f2f4 80%)
}

.albumTwicetagram {
    background: linear-gradient(45deg, rgba(251, 226, 35, 1) 1%, rgba(255, 239, 198, 1) 100%)
}

.albumTwice {
    background: linear-gradient(125deg, rgba(0, 69, 160, 1) 1%, rgba(87, 199, 237, 1) 99%)
}

.albumSignal {
    background: linear-gradient(45deg, rgba(7, 11, 66, 1) 1%, rgba(55, 96, 117, 1) 98%)
}

.albumCoaster {
    background: linear-gradient(125deg, rgba(233, 80, 39, 1) 1%, rgba(234, 211, 140, 1) 99%)
}

.albumYes {
    background: linear-gradient(125deg, rgba(230, 48, 43, 1) 1%, rgba(247, 197, 180, 1) 99%)
}

.albumCard h3 {
    padding-top: 1rem
}

.albumCoaster h3 {
    font-size: 165%
}

.dark h3 {
    color: #3d437d;
    text-shadow: 2px 2px 1px rgba(26, 54, 76, .52)
}

.tracksUL {
    height: 9rem;
    list-style-type: decimal
}

.tracksUL li {
    font-size: 85%
}

.btnMusic {
    border-radiu.btns: 15px;
    color: #000;
    margin: .3rem auto;
    display: block;
    padding: .6rem;
    text-align: center
}

.btnApple:link {
    background: #000;
    border: solid 2px #E5E5E5;
    color: #fff;
    font-size: 115%;
    font-weight: 700;
    text-transform: uppercase;
    width: 8.5rem
}

.btnApple i {
    font-size: 125%;
    font-weight: 400;
    margin-right: .1rem
}

.btnGoogle:link {
    background: #000;
    color: #fff;
    font-size: 110%;
    font-weight: 700;
    position: relative;
    width: 9rem
}

.btnGoogle img {
    width: 1.7rem.albumCard{
  width:25rem;
}
}

.btnGoogle:before {
    content: " ";
    background: url(../imgs/musiclogos/play.pngs)
}
.btnGoogle img {
    width: 1.7rem.albumCard{
  width:25rem;
}
}

.btnGoogle:before {
    content: " ";
    background: url(../imgs/musiclogos/play.pngs)
}

.btnSpotify:link {
    background: #000;
    border: solid 2px #ADADAD;
    border-radius: 5px;
    color: #fff;
    font-size: 135%;
    font-weight: 700;
    position: relative;
    width: 8rem
}

.btnSpotify i {
    background: black;
    border-radius: 50%;
    color: green;
    font-weight: 400;
    margin-right: .5rem
}

.btnTidal:link {
    background: linear-gradient(150deg, rgba(62, 61, 67, 1) 11%, rgba(2, 2, 2, 1) 100%);
    border-radius: 5px;
    color: #fff;
    font-size: 110%;
    font-weight: 700;
    position: relative;
    width: 7rem
}

.btnTidal img {
    width: 2.5rem
}

.btnApple:visited,
.btnGoogle:visited,
.btnSpotify:visited,
.btnTidal:visited {
    color: #fff
}

.btnApple:hover,
.btnGoogle:hover,
.btnSpotify:hover,
.btnTidal:hover {
    background: #fff;
    color: #000
}

.btnApple:active,
.btnGoogle:active,
.btnSpotify:active,
.btnTidal:active {
    color: #fff;
    background: #fff
}

.btnGoogle img,
.btnTidal img {
    display: inline;
    margin-right: .2rem
}

.bodyHeader {
    background: linear-gradient(to bottom, rgba(250, 216, 212, 0) 1%, rgba(250, 216, 212, 1) 17%, rgba(250, 216, 212, 1) 51%, rgba(249, 231, 228, 1) 87%, rgba(249, 236, 234, .1) 99%, rgba(249, 236, 234, .1) 100%);
    max-width: 1800px
}

.bodyHeader:before {
    background: #fad8d4;
    width: 100vw;
    height: 100px
}

.bodyHeader>p {
    background: rgba(255, 255, 255, .6);
    color: #ff826e;
    font: 150% 'Fugaz One', cursive;
    margin-bottom: 0;
    margin-top: 2rem;
    padding: 1rem 0;
    text-align: center
}

.slideImg {
    color: rgba(0, 0, 0, 0);
    margin: 0;
    text-shadow: none
}

.slideP a {
    color: rgb(56, 195, 126);
    font: 100% 'Fugaz One', cursive
}

.slideP a:hover {
    color: #ffefcd
}

.slideP a:active {
    color: #ff826e
}

footer {
    padding: 1.5rem 0 5rem;
    position: relative
}

.footerH3 {
    padding-top: 2rem
}

footer a.more {
    color: #a26a19;
    ;
    display: inline-block;
    margin-bottom: 3rem;
    width: 15rem
}

a.more:active {
    color: #fff
}

a[href="#top"] i {
    border: 5px solid #f9a733;
    border-radius: 70%;
    bottom: 5%;
    color: #40b59b;
    font-size: 4rem;
    opacity: .7;
    position: fixed;
    right: 3%;
    transform: rotate(180deg);
    z-index: 100
}

a[href="#top"] i:hover {
    opacity: 1
}

.success.wrapper {
    min-height: 100vh
}

.success .row p:last-of-type {
    margin-bottom: 10rem
}

.success .body {
    background: linear-gradient(to bottom, rgba(250, 216, 212, 0) 1%, rgb(250, 216, 212) 17%, rgba(250, 216, 212, .9) 51%, rgba(249, 236, 234, .7) 80%, rgba(249, 236, 234, 0) 100%)
}

.success .footer {
    background: linear-gradient(to bottom, rgba(255, 179, 170, 1), rgba(255, 179, 170, 0))
}

.success p {
    color: #e96056
}

legend {
    font-size: 1rem
}

label,
legend {
    color: #724c1a
}

.form {
    max-width: 1500px
}

.form h3 {
    color: #a12828
}

input.form-control,
select,
textarea {
    min-width: 15rem
}

input,
.form-control,
select,
textarea {
    background: #fff9f4
}

.bDay input,
.bDay select {
    max-width: 11rem
}

input[type="checkbox"] {
    margin-left: .6rem
}

input:valid,
input[type="submit"]:valid {
    border: 2px solid #71c671
}

#btnSubmit {
    background: linear-gradient(-45deg, rgba(237, 235, 160, 1) 0%, rgba(227, 245, 171, 1) 38%, rgba(160, 226, 140, 1) 100%);
    border: 2px solid #21ae21;
    color: #2e9938;
    margin-right: 2rem;
    width: 5rem;
    max-width: 5.5rem
}

#btnSubmit:hover {
    background: linear-gradient(-45deg, rgba(160, 226, 140, 1) 0%, rgba(227, 245, 171, 1) 38%, rgba(237, 235, 160, 1) 100%);
    border-color: #b7e68d
}

#join {
    max-width: 98%
}

.addressForm .form-group:nth-of-type(3) input,
.addressForm .form-group:last-of-type input {
    width: 8rem
}

#comments {
    max-height: 13rem;
    min-height: 10rem
}

.test {
    width: 15rem;
    text-align: center
}

.joinText,
.joinText a {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 0
}

.prefer>.joinText {
    color: #724c1a;
    display: inline-block;
    text-shadow: none
}

.radio-inline {
    font-size: 90%;
    margin-left: .7rem
}

.helpText {
    white-space: nowrap
}

.btnForm {
    margin-left: 70%;
    width: 8%
}

.terms {
    background-color: rgb(250, 216, 212)
}

.terms h4,
.terms p,
.terms h3:not(.footerH3),
.terms ul,
.terms ul li {
    color: #6c4f24;
    font-size: 90%;
    text-align: left;
    text-shadow: none
}

.terms h4,
.terms h3:not(.footerH3) {
    font-size: 125%
}

.body.terms {
    padding-bottom: 2rem
}

.terms h3.dontBother {
    color: brown;
    font-size: 175%
}

.dontBother i {
    margin-right: .7rem
}

.sources {
    color: #ff9841;
    font-size: 85%;
    position: absolute;
    left: 1%;
    bottom: 0;
    z-index: 500
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .hideIE {
        display: none
    }
    .contentH {
        display: none
    }
    .contentH2:before {
        content: 'Newsletter'
    }
    .joinUs .footerH3 {
        padding-top: 0
    }
    #tinyImgsIE {
        background: url(../imgs/headshots/headshots.png) no-repeat;
        background-size: contain;
        color: rgba(0, 0, 0, 0);
        display: block;
        height: 300px;
        margin: 0 1%;
        max-width: 450px;
        text-align: center
    }
    #tinyImgsIE:before {
        border: none
    }
    #tinyImgsIE:hover {
        background-image: url(../imgs/headshots/headshots_hover.png)
    }
}

@media screen and (min-width:570px) {
    .navHeader {
        background: linear-gradient(to bottom, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, .8) 40%, rgba(255, 255, 255, 0) 100%);
        left: 0;
        right: 0;
        top: 0;
        z-index: 1030
    }
    h1 {
        height: 1px;
        left: -999px;
        overflow: hidden;
        position: absolute;
        top: auto;
        width: 1px;
        z-index: -999
    }
   .tinyImgGrid {
        grid-column-gap: 2rem;
        grid-row-gap: .7rem;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        max-width: 25rem
    }
    .tinyImg {
        border-radius: 50%;
        height: 10rem;
        width: 10rem
    }
    .tinyImgs a:not(.seeAll):before {
        border: 5rem solid rgba(255, 255, 255, 0)
    }
    .tinyImgs a:not(.seeAll):hover:before {
        border-color: rgba(255, 255, 255, .5)
    }
    .tinyImgs p {
        opacity: 0
    }
    .tinyImgs a:hover p {
        left: 2rem;
        opacity: 1
    }
    .btnMemberGrid {
        grid-column: 2
    }
    a[href="#top"] i {
        bottom: 2%;
        right: 2%
    }
    #comments {
        height: 12rem
    }
    #join {
        max-width: 96%
    }
    #tinyImgsIE {
        height: 400px
    }
}

@media screen and (min-width:992px) {
    .body {
        padding-top: 13rem
    }
    .navHeader {
        position: fixed
    }
}


/*@import "mainStyles.css";*/


/*@import "mainStyles_mini.css";*/

@import "IEstyles.css" only screen and (-ms-high-contrast: active),
(-ms-high-contrast: none)