/* Table of Content
==================================================
  #Global Styles
  #Site Styles
  #Media Queries   
==================================================*/
/* Global Styles
--------------------------------------------
--------------------------------------------*/

  html{
    font-size: 100%;

  }
  body {
  background: url("../imgs/bg.jpg");
  background-size: cover;
  font: 100% 'Fugaz One', cursive;
  color:#FF4500;
  margin:0;
  }
  h2{
  text-align:center;
  color: #008000;
  background: #FFFFFF;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
  }
  h3{
    text-align: center;
  }
  p{
    font: 150% Muli, sans-serif;
    color:#008000;
    text-align:center;
  }
  a,
 a:link,
 a:visited,
a:hover,
a:active 
{ text-decoration: none;
}  
.hide{
  display:none;
}
.btn{
width:15rem;
height:5rem;
font-size:1.1rem;
text-align:center;
line-height :5rem;
color :rgba(255,255,255,0.9);
border-radius:3.125rem;
background :linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
background-size :600%;
animation :anime 16s linear infinite;
}
.btn:hover{
  color:#008000;
}
@keyframes anime {
0%{
background-position:0% 50%;
}
50%{
background-position:100% 50%;
}
100%{
background-position: 0% 50%;
}
}
.navHeader img {
    max-width: 10rem;
}
.navbar-brand img{
  -webkit-transform: rotateZ(-30deg);
       -ms-transform: rotateZ(-30deg);
       transform: rotateZ(-30deg);
     box-shadow: inset 0 0 0 25px gold;
}
.navbar-brand img:hover{
  -webkit-transform: scale(1.3);
       -ms-transform: scale(1.3);
       transform: scale(1.3);
}
  .nav-item{
    font: 120% 'Fugaz One', cursive;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
    width: 100%;
    background:#FFC0CB;
    border-radius: 10px;
    letter-spacing: 5px;
  }
  .nav-link {
    color:#008000;
  }
  .nav-link:hover{
    color:#87CEFA;
  }
.flex-sm-row{
  display:inline;
}
  .navbar-nav li{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 12rem;
    height: 2rem;
    margin-top: 4%;
   transition-duration: 0.2s;
  }
   .nav-item:nth-child(odd){
    transform: perspective(300px) rotateY(45deg);
    box-shadow: -2px 2px 7px gray;
  }
  .nav-item:nth-child(even){
    transform: perspective(300px) rotateY(-45deg);
      box-shadow: 2px 2px 7px gray;
  }
  .nav-item:hover{
    transform: rotateY(0);
    background: #E0FFFF;
    box-shadow: 0px 0px 0px;
  }
  .carousel-inner {
   width:100%;
   height:45rem;
	background: url(../imgs/new2.jpg) no-repeat;
		background-size: 100% 100%;
		margin-top:1rem;
		position:relative;
	}
	.carousel-item {
		width:60%;
    height:40%;
	}
	.carousel-item img {
		animation:drift 5s linear infinite;/*short hand*/
  }		
	@keyframes drift{
		from{transform:translateX(60px);}
		to{transform:translateY(-450px);}
  }
  .contentH{
    display:block;
    margin-top:4rem;
  }
  .tinyImgGrid{
    margin-top:1rem;
    display:grid;
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    padding:2rem;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(4, 140px);
    justify-content: center;
    padding:4rem;
  }
  .tinyImg {
    max-width:10rem;
    -webkit-transition: all 2s ease-out;
     transition: all 2s ease-out;
     border: 2px solid #87CEFA;
     border-radius: 50px 20px 30px;
     transform: rotate(-30deg) translateY(40px);
  }
  #tinyImgsIE{
    display:none;
  }
.tinyImg:hover
 {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
  transform: scale(1.1);
}
.btnMemberGrid{
  grid-column: 1/4;
  margin-top:4rem;
}
.joinUs p{
  position: relative;
	background: #E8B923;
	border-radius: .4em;
  padding:2rem;
  margin-bottom:3rem;
  color:#FFFFFF;	
}
.joinUs p:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #E8B923;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
.albums,.albumCards {
  background: url(../imgs/gold.jpg);
 padding:4rem;
}
.albumCard img{
  max-width:20rem;
}
.albumCard {
  overflow: hidden;
  padding: 0 0 1rem;
  position: relative;
  max-width: 20rem;
  min-width:18rem;
  width: 100%;
}
.albumCard h3{
  font-size:100%;
  margin-top: 1rem;
  text-decoration: underline;
  letter-spacing: 0.2rem;
 background: #333333;
 text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
 background: #333333;
 color:#FFFFFF;
}
.albumCoaster h3{
  font-size:85%;
}
.albumCard p{
  font:90% 'Fugaz One', cursive;
  color:	#FF00FF;
}
.albumCard h4{
text-align: center;
color: #FFFFFF;
background: #333333;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
color: #FFFFFF;
background: #333333;
text-decoration: underline;
}
.albumPageTwo{
  border-radius:1rem;
  background-image: linear-gradient(to right top, #7fffd4, #03eee7, #00d9f9, #00c1ff, #00a6ff);
  transform: skew(5deg);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid #FF0000;
  border-bottom: 1.5rem solid #FF0000;
}
.albumTwice{
  border-radius:1rem;
  background-image: linear-gradient(to right top, #e6b1e4, #eabdea, #efc9ef, #f3d5f4, #f8e1f9);
  transform: skew(5deg);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid #808000;
  border-bottom: 1.5rem solid #808000;
}
.albumTwicetagram{
  border-radius:1rem;
  /*background-image: linear-gradient(to right top, #f5d145, #f3dd75, #f2e8a1, #f4f1cb, #f9f9f4);
  */
  background-image: linear-gradient(to right top, #e6f21a, #e0ec2a, #d9e635, #d3df3e, #cdd945, #ccd74d, #ccd454, #cbd25b, #cfd365, #d2d36e, #d5d478, #d8d581);
  transform: skew(5deg);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid #C0C0C0;
  border-bottom: 1.5rem solid #C0C0C0;
}
.albumSignal{
  border-radius:1rem;
  background-image: linear-gradient(to right top, #d16ba5, #af5a9b, #8c4b8f, #683d81, #443072, #373d7f, #254989, #005491, #007db5, #00a7d1, #00d1e4, #5ffbf1);
  transform: skew(5deg);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid #C71585;
  border-bottom: 1.5rem solid #C71585;
}
.albumCoaster{
  border-radius:1rem;
  background-image: linear-gradient(to right top, #e75f11, #df9337, #daba6e, #dedbae, #f3f6ed);
  transform: skew(5deg);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid #BDB76B;
  border-bottom: 1.5rem solid #BDB76B;
}
.albumYes{
  border-radius:1rem;
  background-image: linear-gradient(to right top, #d62f2d, #e66757, #f29584, #f8c0b5, #f9ebe8);
  transform: skew(5deg);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid #4B0082;
  border-bottom: 1.5rem solid #4B0082;
}
.btnMusic {
  margin: .3rem auto;
  display: block;
  padding: .6rem;
  text-align: center;
  font-size:100%;
  text-transform:capitalize;
  border:2px white inset;
  border-radius:0.5rem;
  box-shadow: 0.2rem 0.2rem #808080;
}
.btnApple{
  background:#cdcdcd;
  width:50%;
  color:white;
  transition: all .2s ease-in-out;
}
.btnApple:hover,.btnSpotify:hover,.btnTidal:hover,.btnGoogle:hover{
  transform: scale(1.1);
  background-image: linear-gradient(to right top, #e19483, #d6849a, #b37eb2, #7a80bd, #2180b3);
  color:#008000;
}

.btnApple i{
  font-size: 125%;
  color:#FFFFFF;
}
.btnSpotify{
  background:#32CD32;
  width:50%;
  color:#FFFFFF;
}
.btnSpotify i {
  background: #000000;
  border-radius: 50%;
  color:#008000;
  font-weight: 400;
  margin-right: .5rem
}
.btnTidal img {
  width: 2.5rem;
}
.btnTidal{
  background: #000000;
  width:50%;
  color:white;
}
.btnGoogle img{
  width:2.5rem;
}
.btnGoogle{
  background-color:#FFA63D;
  width:60%;
  color:#FFFFFF;
}
.allAlbums{
display:flex;
justify-content:space-evenly;
text-transform: capitalize;
margin-top:3rem;
}
.tracksUL  {
  height: 9rem;
 list-style-type:decimal-leading-zero;
 margin-top:1rem;
}
.tracksUL li {
  font-size: 75%;
  color:#FFFFFF;
}
a.seeAll{
  width:12rem;
  line-height:3rem;
  padding:1rem;
}
footer {
  padding: 1.5rem 0 5rem;
  position: relative;
  background: url(../imgs/bg6.jpg) repeat;
  background-size: cover;
  color:#FF00FF;
}
footer a.more {
 margin-top:8rem;
}
.joinUs h3.footerH3{
  margin-top:4rem;
}
p.sources {
  color:#008000;
  background:#87CEFA;
  font: 80% 'Fugaz One', cursive;
  position: absolute;
  right: 1%;
  bottom: 0; 
}
.sources a{
  color:#FF0000;
}
a[href="#top"] i {
  right:3%;
  bottom: 5%; 
  border-radius:1rem;
  position: fixed;
  font-size: 4rem;
 color :rgba(255,255,255,0.9);
 border-radius:3.125rem;
 background :linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
 background-size :600%;
 animation :anime 16s linear infinite;
}
a[href="#top"] i:hover {
  background: #008000;
}

.memberCard img{
  width:15rem;
  display: block;
  margin:0 auto;
  border-radius:1rem;
  transform: rotate(-5deg) translateY(-10px);
}
.memberCard{
  position: relative;
  min-width: 18rem;
  background:#FFFFFF;
  margin: 0 auto;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
  background-color: #E6E6FA;
}
.memberCard h3{
  display: none;
}
.memberCard p{
  font-size:85%;
}
.memberCard:before,
.memberCard:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background:#fff;
  z-index:-1;
}
.memberCard:before{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
background:#F08080;
}
.funFactTitle {
  color:red;
  font-size:110%;
  font-weight:bolder;
}

  @media screen and (min-width:992px) {
    .navHeader h1{
      display:none;
    }
  }
  @media only screen and (max-width: 767px) {
    .wrapper {
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden
    }
    .navHeader h1{
      display:none;
    }
    .carousel-inner{
      height:25rem;
    }
    .carousel-item {
      width:70%;
      height:40%;
    }
    .tinyImgGrid{
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(4, auto);
    }
    .tinyImg{
      max-width:7rem;
      margin-left:-2rem;
    } 
    .joinUs p{
      margin-left:1rem;
    }
    footer{
      background: url(../imgs/new3.jpg) repeat;
      background-size: cover;
    }
    .footer .footerH3{
     font-size:70%;
    }
    .footer .btn {
      width:7.5rem;
      height:2rem;
      font-size:55%;
      padding:0.7rem;
      line-height:1rem;
    }
    .joinUs h3.footerH3{
      margin-top:-2rem;
    }
    .albumPageTwo,.albumTwice,.albumTwicetagram,.albumSignal,.albumYes,.albumCoaster{
      transform:skew(3deg);
     }
     .albumCard img{
      max-width:17rem;
    }
    
  }
  /*only for iphhone 5*/
    @media screen and (device-aspect-ratio: 40/71){ 
      .tinyImg{
        max-width:5.0rem;
      } 
      .albumPageTwo,.albumTwice,.albumTwicetagram,.albumSignal,.albumYes,.albumCoaster{
       transform:none;
      }
    }
    /*only for galaxy s5*/
    @media only screen and (device-width:360px){
      .tinyImg{
        max-width:5.5rem;
      } 
      .albumPageTwo,.albumTwice,.albumTwicetagram,.albumSignal,.albumYes,.albumCoaster{
        transform: skew(2deg);
       }
    }
    @media screen and (-ms-high-contrast: active), 
    (-ms-high-contrast: none) {
           a.seeAll{
             padding:2rem;
           }
           a.btnMemberGrid{
             line-height:1.5rem;
           }
      }
   /* Microsoft Edge Browser 15+ - @supports method */

   @supports (-ms-ime-align:auto)
   and (-webkit-text-stroke:initial) {
   a.seeAll { 
  padding:2rem; 
  } 
  a.btnMemberGrid{
    line-height:1.5rem;
  }
}

  

